<section class="container-fluid banner page-not-found" style="background-image: url('../../assets/imgs/404-robot.svg')" aria-label="Computer drawn image of robot holding magnifying glass.">
    <div class="container">
        <div class="row">
            <div class="col-md-12 heading">
                <h1 class="text-center">Page Not Found!</h1>
            </div>
        </div>
    </div>
  </section>
  <section class="container my-5 text-center">
    <article class="row">
        <div class="col-md-12 my-3">
            <p>If you have any questions about the website or would like to get into contact please</p>
            <a class="btn btn-primary" href="mailto:gatewayitconsulting@outlook.com" title="Email Gateway IT Consulting">Email us</a>
        </div>
    </article>
  </section>