/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-size: 1em;
    background-image: linear-gradient(to right top, #3c5172, #415276, #46537b, #4c547f, #535582, #5a5585, #615587, #685589, #70558b, #78558c, #81548c, #89548c);
    background-repeat: initial;
}

$banner-size: 1000px;

$media-query-responsive: 600px;

.banner {
    height: $banner-size;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: -10px 16px 400px 80px rgba(0,0,0,0.73) inset;
    -webkit-box-shadow: -10px 16px 400px 80px rgba(0,0,0,0.73) inset;
    -moz-box-shadow: -10px 16px 400px 80px rgba(0,0,0,0.73) inset;
}

.circle {
    border-radius: 50%;
}
